@import "~antd/dist/antd.css";
.App {
  text-align: center;
  background-color: #282c34;
}
.head {
  text-align: center;
  background-color: #282c34;
  color: orange;
  min-height: 50vh;
}
.Tab {
  background-color: #282c34;
  text-align: center;
}
.icon {
  margin-top: 50px;
  color: #7ef99b;
  background-color: #282c34;
}
.bicon {
  margin-top: 30px;
  background-color: #282c34;
  border-block-end-color: #282c34;
}
.ant-tabs-nav-container {
  font-size: 24px;
  line-height: 1.5;
  white-space: nowrap;
}
.ant-tabs {
  color: #f00;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.blueh {
  color: orange;
  font-family: monospace, monospace;
}
.ph {
  color: #bc2bcf;
  font-family: monospace, monospace;
}
.workpane {
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  font-family: "Oxygen Mono", monospace;
}
.worktext {
  color: #7ef99b;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  font-family: "Oxygen Mono", monospace;
}
.panes {
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  line-height: 180%;
  font-size: 17px;
  font-family: "Oxygen Mono", monospace;
}
.avatar {
  border-radius: 30%;
  height: 40vmin;
}

.logoC {
  min-height: 10vh;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.ssC {
  min-height: 10vh;
  border-radius: 4px;
  padding: 5px;
  width: 750px;
}

.App-header {
  background-color: #282c34;
  min-height: 23vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: Blue;
}

.App-link {
  color: #7ef99b;
}
.Work-link {
  color: #bc2bcf;
}

.area {
  color: #3c64b0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
